h1 {
    color:black;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

#first_p {
    margin-top: 20px;
}
#hline {
    color: rebeccapurple;
    margin-top: 30px;
    margin-bottom: 30px;
}

.homepage_p {
    font-size: medium;
    color: blue;
}

#hline2 {
    margin-top: 50px;
    margin-bottom: 50px;
}